name: Publish to TestPyPI and PyPI
on:
  workflow_dispatch:
    inputs:
      pypi_repo:
        description: "Repo to upload to (TestPyPI or PyPI)"
        default: "testpypi"
        required: true
jobs:
  build_wheels:
    uses: ./.github/workflows/wheels.yml
  test-publish:
    if: ${{ github.event.inputs.pypi_repo == 'testpypi' }}
    runs-on: ubuntu-latest
    environment:
      name: testpypi
    permissions:
      contents: read
      id-token: write
    needs: [build_wheels]
    steps:
      - name: Download wheels and sdist
        uses: actions/download-artifact@v4
        with:
          pattern: artifact-*
          path: ./download
      - name: Copy to dist
        run: |
          [ -d dist ] && rm -rf dist
          mkdir dist
          cp ./download/*/*.whl ./dist
          cp ./download/*/*.tar.gz ./dist
        shell: bash
      - name: Show files to upload
        run: |
          ls -la dist
        shell: bash
      - name: Publish package to TestPyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          repository_url: https://test.pypi.org/legacy/
  publish:
    if: ${{ github.event.inputs.pypi_repo == 'pypi' }}
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      contents: read
      id-token: write
    needs: [build_wheels]
    steps:
      - name: Download wheels and sdist
        uses: actions/download-artifact@v4
        with:
          pattern: artifact-*
          path: ./download
      - name: Copy to dist
        run: |
          [ -d dist ] && rm -rf dist
          mkdir dist
          cp ./download/*/*.whl ./dist
          cp ./download/*/*.tar.gz ./dist
        shell: bash
      - name: Show files to upload
        run: |
          ls -la dist
        shell: bash
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
